* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100vh;
}

.app {
    margin: 0px;
    padding: 0px; 
    font-family: 'Indie Flower', cursive;
    height: 100%;
    width: 100%;
}

.home {
    background-image: url("../images/latte.jpg");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display:inline-block;
}

.opener,
.opener1,
.opener2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #74fd2f;
    opacity: .5;
/*    margin-top: 10%;*/
}

.opener1 {
    margin-left: 10%;
}

.opener2 {
    margin-left: 20%;
}

.welcome {
    background-color: #74fd2f;
    opacity: .4;
    width: 25%;
    border-radius: 100px;
    height: 70px;
    margin-top: 20%;
    margin-left: 2%;
    padding: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome:hover span {
    opacity: .9;
    padding-right: 25px;
}

.welcome:hover span:after {
    opacity: .9;
    right: 5;
}

.welcome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.menu {
    font-family: 'Indie Flower', cursive;
}

.menu a {
    display: block;
    text-align: center;
    width: 135px;
    text-decoration: none;
    color: black;
    line-height: 18px;
    display: inline-block;
    margin-left: 5px;
    padding-left: 20%;
    border-left: 1px solid #efefef;
    letter-spacing: 0;
    border: 0px;     
}

.shopping {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.products {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.contact {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.log {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.header {
    font-family: 'Indie Flower', cursive;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    font-size: 300%;
}

.carousel {
  text-align: center;
  height: 20%;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.myImages {
    width:20%; 
    max-height:20%;
}

.intro {
    background: #f3f2e7;
    margin-top: 10%;
}

.intro-matcha {
    font-family: 'Indie Flower', cursive;
    text-decoration: underline;
    margin-left: 450px;
}

.intro-mat {
    text-align: left;
    text-indent: 40px;
    font-family: 'Indie Flower', cursive;
    font-size: 27px;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    float: left;
    margin-top: 50px;
}

.video {
    margin-bottom: 400px;
    margin-top: 60px;
    float: right;
    margin-right: 20px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    clear: both;
    color: black;
    font-size: 20px;
    background: #f3f2e7;
    margin-top:500px;
    font-family: 'Indie Flower', cursive;
}
