* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    /*height: 100vh;*/
}

.app {
    margin: 0px;
    padding: 0px; 
    font-family: 'Indie Flower', cursive;
    height: 100%;
    width: 100%;
}

.row-center {
    font-family: 'Kurale', serif;
    text-align: center;
}

p {
   font-family: 'Kurale', serif; 
}

a {
    text-decoration: none;
    color: black;    
}

a:hover {
    color: #74fd2f;
}
/*----------------home.js----------*/
.home {
    background-image: url("../images/latte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    /*margin: 0px;
    padding: 0px;
    display:inline-block;*/
}

.opener,
.opener1,
.opener2 {
    font-family: 'Kurale', serif;
    font-size: 60px;
    color: #74fd2f;
    opacity: .5;
}

.opener {
    margin-left: 3%;
   padding-top: 5%;
}

.opener1 {
    margin-left: 9%;
}

.opener2 {
    margin-left: 15%;
}

.welcome {
    background-color: #74fd2f;
    opacity: .4;
    width: 25%;
    color: black;
    border-radius: 100px;
    height: 70px;
    margin-left: 2%;
    margin-top: 18%;
    font-family: 'Kurale', serif;
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome:hover span {
    opacity: .9;
    padding-right: 25px;
}

.welcome:hover span:after {
    opacity: .9;
    right: 5;
}

.welcome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.welcome span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


/*--------header.js-------*/
.header {
    font-family: 'Kurale', serif;
    vertical-align: top;
    padding-bottom: 10%;
    text-align: center;
    font-size: 300%;
    word-spacing: 10%;
    background: #f3f2e7;
    padding: 6%;
}

.menu {
    background: #f3f2e7;
}

.shopping {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.products {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.contact {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.log {
    margin: 0;
    padding: 0 70px;
    position: relative;
    display: block;
    white-space: nowrap;
}

.whatIs {
    background: #f3f2e7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

/*--------------Main.js------------*/
.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 160px;
  /*background: #364d79;
  color: #fff;*/
  overflow: hidden;
}

.intro {
    background: #f3f2e7;
    margin-top: 5%;
}

.intro-matcha {
    font-family: 'Kurale', serif;
    text-decoration: underline;
    margin-left: 450px;
    margin-top: 5%;
    padding: 3%;
    background: #f3f2e7;
}

.intro-mat {
    text-align: left;
    text-indent: 40px;
    font-family: 'Kurale', serif;
    font-size: 27px;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
    float: left;
    margin-top: 50px;
    padding-bottom: 5%
}

.video {
    float: right;
    margin-right: 20px;
    text-align: right;
    margin-bottom: 5%;
    padding-top: 15%;
}

/*-----------footer.js-------*/
.footer {
    text-align: center;
    padding: 30px 0;
    clear: both;
    color: black;
    font-size: 20px;
    background: #f3f2e7;
    margin-top: 15%;
    font-family: 'Kurale', serif;
}


/*---------------recipes.js-----------*/
.recipe-menu {
    padding: 6%;
    background: #f3f2e7;
    text-align: left;
}

.food {
    margin-top: 10%;
    text-align: left;
    margin-left: 3%; 
}

.img-recipe {
    width: 90%;
    margin-top: 5%;
    margin-left: 8%;
    border: 5px solid #f3f2e7;
}

.directions {
    text-align: center;
    margin-top: 5%;
}

li {
    list-style: none;
    margin-top: 2%;
    font-family: 'Kurale', serif;
    font-size: 14px;
}

.list-recipe {
    padding: 1%;
    font-family: 'Kurale', serif;
    padding-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: center;
}

.ant-col-offset-8 {
    margin-left: 28%;
}

.ant-col-8 {
    display: block;
    width: 33.33333333%;
}

.pancakes {
    box-sizing: border-box;
    border: 1px solid #f3f2e7;
}

.smoothie {
    box-sizing: border-box;
    border: 1px solid #f3f2e7;
}

.brownie {
    box-sizing: border-box;
    border: 1px solid #f3f2e7;
}
/*------------whatismatcha.js---------*/
.about {
    padding: 6%;
    background: #f3f2e7;
    text-align: left;
}

.image {
    display: block;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 3%; 
}

.img {
    width: 75%;
    height: 10%;
}

.row {
   border: 1px solid #E0DCC8;
   box-sizing: border-box;
   margin: auto;
}

.right {
    float: right;
}

h2 { 
    font-size: 36px;
    font-family: 'Kurale', serif;
    text-align: center;  
}

p {
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Kurale', serif;
}

.col-md-24 {
    padding: 3%;
}

/*-------------healthbenefits.js--------*/

.about-health {
    padding: 6%;
    background: #f3f2e7;
    text-align: left;
}

.health-benefits {
    font-size: 24px;
    padding-left: 10px;
    margin-top: 6%;
    columns: 2;
    margin-left: 3%;   
}

.health-header {
    text-align: left;
}

.health-list {
   font-family: 'Kurale', serif; 
   margin-top: 3%;
}

.images-health {
   height: 90%;
    width: 90%;
    float: right;
    margin-right: 7%;
    margin-top: 3%;
}

.health-images {
    columns: 2;
    margin-top: 4%;
}

.image1 {
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

.image3 {
    height: 50%;
    width:  50%;
    float: right;
    margin-right: 6%;
    margin-bottom: 4%;
}

/* ------------product.js--------------*/
.productimg{
    width: 85%;
    height: 85%;
    align-items: center;
}

.product-card{
    padding: 10px;
    float: left;
    margin: 20px;
    text-decoration-color: #696969;
}

.produt-container{
    margin: 20px; 
}

.productButton{
    margin-left: 20px;
    width: 140px;
    height: 30px;
    background-color: #3cb371;
    opacity: 0.6;
}

/*-------------contact.js-----------*/
.about-contact {
    padding: 6%;
    background: #f3f2e7;
    text-align: left;
}